// //NOTA: Descomenta para prueas de padding, margenes, display de los DIV.
// div{
//     border: 1px solid blue;
// }

//Colores seleccionados
$colorPrimario: #F2780C;
$colorSecundario: #F2B705;
$colorFondo: #F2F2F2;
$colorTexto: #0D0D0D;
$colorAlternativo: #56A9B8;

$colorPrimario-oscuro: #da6f12f8;
$colorSecundario-oscuro: #D29705;

$colorPrimario-boxShadow: #F2780C80;
$colorSecundario-boxShadow: #F2B70580;


:root {
    --colorPrimario: #F2780C;
    --colorSecundario: #F2B705;
    --colorFondo: #F2F2F2;
    --colorTexto: #0D0D0D;
    --colorAlternativo: #56A9B8;
}

//Nuevos colores de Fondo
.bg-colorPrimario {background-color: $colorPrimario !important;}
.bg-colorSecundario {background-color: $colorSecundario !important;}
.bg-colorFondo {background-color: $colorFondo !important;}
.bg-colorTexto {background-color: $colorTexto !important;}
.bg-colorAlternativo {background-color: $colorAlternativo !important;}

.text-colorPrimario {color: $colorPrimario !important;}
.text-colorSecundario {color: $colorSecundario !important;}
.text-colorFondo {color: $colorFondo !important;}
.text-colorTexto {color: $colorTexto !important;}
.text-colorAlternativo {color: $colorAlternativo !important;}

a.text-colorPrimario:hover,
a.text-colorPrimario:focus { color: $colorSecundario !important; }
a.text-colorSecundario:hover,
a.text-colorSecundario:focus { color: $colorPrimario !important; }

// .almacenDescription{height: 3em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;} 